.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.card{
    width: 100%;
    height: 300px;
}
.pilihMakanan .modal-body img{
    width: 50%;
}
.card{
    width: 20rem;
    box-shadow: 2px 3px 4px grey;
}